<section class="application">
  <div class="container">
    <h2 class="application-title">Application process</h2>
    <p class="application-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nulla
      risus, consectetur ut bibendum non, gravida non libero.
    </p>
    <ul class="application-list list">
      <li class="application-item application-item-1">
        <p class="application-item__numb">1</p>
        <p class="application-item__title">Apply</p>
        <p class="application-item__desc">
          Submit a complete application to the dYdX Grants Team including as
          many details as possible about the proposed idea and their background.
        </p>
      </li>
      <svg class="application-item__icon">
        <use href="/src/images/sprite.svg#icon-Right-arrow-curved"></use>
      </svg>
      <li class="application-item application-item-2">
        <p class="application-item__numb">2</p>
        <p class="application-item__title">Interview</p>
        <p class="application-item__desc">
          If your application is selected, the dYdX Grants will conduct 1-2
          interviews to collect more information on the Applicant's background
          and the proposal.
        </p>
      </li>
      <svg class="application-item__icon-deg">
        <use href="/src/images/sprite.svg#icon-Right-arrow-curved-deg"></use>
      </svg>
      <li class="application-item application-item-3">
        <p class="application-item__numb">3</p>
        <p class="application-item__title">Grant offer</p>
        <p class="application-item__desc">
          The dYdX Grants team will determine if the proposal fits into the
          grant program. A vesting schedule and timeline for product development
          reports will also be determined in the offer;
        </p>
      </li>
    </ul>
  </div>
</section>
