<section class="featured-grants">
  <div class="container">
    <svg width="20" height="50" class="featured-grants__icon">
      <use href="/src/images/sprite.svg#icon-Down-arrow"></use>
    </svg>
    <h2 class="featured-grants__title">Projects built with grants</h2>
    <p class="featured-grants__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nulla
      risus, consectetur ut bibendum non, gravida non libero.
    </p>
    <a href="/" class="link featured-grants__link">
      View all funded projects<svg width="16" height="16" class="cta__btn-icon">
        <use href="/src/images/sprite.svg#icon-cta_arrow-right"></use></svg
    ></a>
    <swiper-container
      class="mySwiper"
      lides-per-view="2"
      centered-slides="true"
      space-between="30"
      free-mode="true"
    >
      <swiper-slide class="featured-grants__item"
        ><p class="featured-grants__item-predesc">Crowdfund</p>
        <h3 class="featured-grants__item-title">Funding rates page</h3>
        <p class="featured-grants__item-amount">Funding amount:</p>
        <p class="featured-grants__item-amount">$5,000 - $6,000</p>
        <p class="featured-grants__item-desc">
          Grant will be used to build a dedicated web app to give traders a view
          of all dYdX asset funding rates across multiple timeframes. The page
          will be interactive to include deep diving across different assets and
          historical analysis of changing rates. It will also include API
          functionalities to allow developer access.
        </p>
        <div class="featured-grants__item-avatar-container">
          <img src="/src/images/Avatar-1.png" alt="avatar" />
          <img
            src="/src/images/Avatar-2.png"
            alt="avatar"
            class="featured-grants__item-avatar-img"
          />
        </div>
      </swiper-slide>
      <swiper-slide class="featured-grants__item"
        ><p class="featured-grants__item-predesc">Edition</p>
        <h3 class="featured-grants__item-title">Tradingview integration</h3>
        <p class="featured-grants__item-amount">Funding amount:</p>
        <p class="featured-grants__item-amount">$5,000 - $6,000</p>
        <p class="featured-grants__item-desc">
          The grant will be used to build a web application that integrates
          Tradingview strategies into a dYdX Trading account to execute trades
          directly through a strategy. Users will be able to tap into
          Tradingview resources and test out different ...
        </p>
        <div class="featured-grants__item-avatar-container">
          <img src="/src/images/Avatar-3.png" alt="avatar" />
          <img
            src="/src/images/Avatar-4.png"
            alt="avatar"
            class="featured-grants__item-avatar-img"
          />
          <img
            src="/src/images/Avatar-5.png"
            alt="avatar"
            class="featured-grants__item-avatar-img-2"
          />
        </div>
      </swiper-slide>
      <swiper-slide class="featured-grants__item"
        ><p class="featured-grants__item-predesc">Entry</p>
        <h3 class="featured-grants__item-title">
          Rewards optimization research and paper
        </h3>
        <p class="featured-grants__item-amount">Funding amount:</p>
        <p class="featured-grants__item-amount">$5,000 - $6,000</p>
        <p class="featured-grants__item-desc">
          The Grant will be used to write a full research report and code
          samples that will determine optimal trading strategies for rewards
          maximization. The paper will be marketed across several platforms and
          shared among trading circles to help readership.
        </p>
        <div class="featured-grants__item-avatar-container">
          <img src="/src/images/Avatar-6.png" alt="avatar" />
          <img
            src="/src/images/Avatar-7.png"
            alt="avatar"
            class="featured-grants__item-avatar-img"
          />
          <img
            src="/src/images/Avatar-8.png"
            alt="avatar"
            class="featured-grants__item-avatar-img-2"
          />
        </div>
      </swiper-slide>

      <swiper-slide class="featured-grants__item"
        ><p class="featured-grants__item-predesc">Entry</p>
        <h3 class="featured-grants__item-title">
          DAO Organizational Structure Research
        </h3>
        <p class="featured-grants__item-amount">Funding amount:</p>
        <p class="featured-grants__item-amount">$5,000 - $6,000</p>
        <p class="featured-grants__item-desc">
          The grant will be used to fund a deep dive research report around
          historical and existing DAO structures with guidance around successful
          best practices. Topics will include organization structure, reporting
          & accountability, contributors, funding, and more.
        </p>
        <div class="featured-grants__item-avatar-container">
          <img src="/src/images/Avatar-9.png" alt="avatar" />
        </div>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
