<footer class="footer">
  <div class="container">
    <img src="/src/images/footer-logo.png" alt="logo" class="footer-logo" />
    <ul class="list footer-list">
      <li class="footer-item">
        <a class="footer-item__link link" href="/">About</a>
      </li>
      <li class="footer-item">
        <a class="footer-item__link link" href="/">FAQ</a>
      </li>
      <li class="footer-item">
        <a class="footer-item__link link" href="/"
          >dYdX Foundation<svg width="12" height="12" class="footer__link-icon">
            <use href="/src/images/sprite.svg#icon-external-link"></use></svg
        ></a>
      </li>
      <li class="footer-item">
        <a class="footer-item__link link" href="/"
          >dYdX trading<svg width="12" height="12" class="footer__link-icon">
            <use href="/src/images/sprite.svg#icon-external-link"></use></svg
        ></a>
      </li>
    </ul>
    <div class="footer-soc__container">
      <a href="/" class="link footer_soc-link"
        ><svg width="16" height="16">
          <use href="/src/images/sprite.svg#icon-Twitter"></use></svg
      ></a>
      <a href="/" class="link footer_soc-link"
        ><svg width="16" height="16">
          <use href="/src/images/sprite.svg#icon-Discord"></use></svg
      ></a>
    </div>
  </div>
</footer>
