<section class="asked">
  <div class="container">
    <h2 class="asked-title">Frequently asked questions</h2>
    <p class="asked-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nulla
      risus, consectetur ut bibendum non, gravida non libero.
    </p>
    <ul class="list asked-list" id="listContainer">
      <li class="asked-item toggleButton">
        <a class="asked-item__link">
          <p class="asked-item__text">How do I apply?</p>
          <svg width="16" height="16" class="asked__btn-icon" id="icon-plus">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
          ><svg
            width="16"
            height="16"
            class="asked__btn-icon icon-hidden"
            id="icon-minus"
          >
            <use href="/src/images/sprite.svg#icon-asked-minus"></use></svg
        ></a>
        <div class="asked-item__hidden-text" id="additionalText-1">
          <p>Visit the official grant website to apply.</p>
        </div>
      </li>
      <li class="asked-item toggleButton">
        <a class="asked-item__link">
          <p class="asked-item__text">
            Can I apply as a U.S. based person/company?
          </p>
          <svg width="16" height="16" class="asked__btn-icon" id="icon-plus">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
          ><svg
            width="16"
            height="16"
            class="asked__btn-icon icon-hidden"
            id="icon-minus"
          >
            <use href="/src/images/sprite.svg#icon-asked-minus"></use></svg
        ></a>
        <div class="asked-item__hidden-text" id="additionalText-1">
          <p>U.S.-based individuals/companies can apply.</p>
        </div>
      </li>
      <li class="asked-item toggleButton">
        <a class="asked-item__link">
          <p class="asked-item__text">How will I be compensated?</p>
          <svg width="16" height="16" class="asked__btn-icon" id="icon-plus">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
          ><svg
            width="16"
            height="16"
            class="asked__btn-icon icon-hidden"
            id="icon-minus"
          >
            <use href="/src/images/sprite.svg#icon-asked-minus"></use></svg
        ></a>
        <div class="asked-item__hidden-text" id="additionalText-1">
          <p>Compensation details vary; check grant guidelines.</p>
        </div>
      </li>
      <li class="asked-item toggleButton">
        <a class="asked-item__link">
          <p class="asked-item__text">
            What type of project will qualify for a Grant?
          </p>
          <svg width="16" height="16" class="asked__btn-icon" id="icon-plus">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
          ><svg
            width="16"
            height="16"
            class="asked__btn-icon icon-hidden"
            id="icon-minus"
          >
            <use href="/src/images/sprite.svg#icon-asked-minus"></use></svg
        ></a>
        <div class="asked-item__hidden-text" id="additionalText-1">
          <p>Eligible projects include [specify project criteria].</p>
        </div>
      </li>
      <li class="asked-item toggleButton">
        <a class="asked-item__link">
          <p class="asked-item__text">
            What is the application timeline? When can I expect to hear back?
          </p>
          <svg width="16" height="16" class="asked__btn-icon" id="icon-plus">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
          ><svg
            width="16"
            height="16"
            class="asked__btn-icon icon-hidden"
            id="icon-minus"
          >
            <use href="/src/images/sprite.svg#icon-asked-minus"></use></svg
        ></a>
        <div class="asked-item__hidden-text" id="additionalText-1">
          <p>Application timeline varies; check website for updates.</p>
        </div>
      </li>
      <li class="asked-item toggleButton">
        <a class="asked-item__link">
          <p class="asked-item__text">
            How can I increase my chances of getting funded?
          </p>
          <svg width="16" height="16" class="asked__btn-icon" id="icon-plus">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
          ><svg
            width="16"
            height="16"
            class="asked__btn-icon icon-hidden"
            id="icon-minus"
          >
            <use href="/src/images/sprite.svg#icon-asked-minus"></use></svg
        ></a>
        <div class="asked-item__hidden-text" id="additionalText-1">
          <p>Response time varies; expect communication within [timeframe].</p>
        </div>
      </li>
      <li class="asked-item toggleButton">
        <a class="asked-item__link">
          <p class="asked-item__text">
            Increase chances by submitting a clear, impactful proposal.
          </p>
          <svg width="16" height="16" class="asked__btn-icon" id="icon-plus">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
          ><svg
            width="16"
            height="16"
            class="asked__btn-icon icon-hidden"
            id="icon-minus"
          >
            <use href="/src/images/sprite.svg#icon-asked-minus"></use></svg
        ></a>
        <div class="asked-item__hidden-text" id="additionalText-1">
          <p>Funding rounds approval frequency varies.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
