<section class="asked">
  <div class="container">
    <h2 class="asked-title">Frequently asked questions</h2>
    <p class="asked-desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nulla
      risus, consectetur ut bibendum non, gravida non libero.
    </p>
    <ul class="list asked-list">
      <li class="asked-item">
        <a class="asked-item__link">
          <p class="asked-item__text">How do I apply?</p>
          <svg width="16" height="16" class="asked__btn-icon">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
        ></a>
      </li>
      <li class="asked-item">
        <a class="asked-item__link"
          ><p class="asked-item__text">
            Can I apply as a U.S. based person/company?
          </p>
          <svg width="16" height="16" class="asked__btn-icon">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
        ></a>
      </li>
      <li class="asked-item">
        <a class="asked-item__link">
          <p class="asked-item__text">How will I be compensated?</p>
          <svg width="16" height="16" class="asked__btn-icon">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
        ></a>
      </li>
      <li class="asked-item">
        <a class="asked-item__link"
          ><p class="asked-item__text">
            What type of project will qualify for a Grant?
          </p>
          <svg width="16" height="16" class="asked__btn-icon">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
        ></a>
      </li>
      <li class="asked-item">
        <a class="asked-item__link"
          ><p class="asked-item__text">
            What is the application timeline? When can I expect to hear back?
          </p>
          <svg width="16" height="16" class="asked__btn-icon">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
        ></a>
      </li>
      <li class="asked-item">
        <a class="asked-item__link"
          ><p class="asked-item__text">
            How can I increase my chances of getting funded?
          </p>
          <svg width="16" height="16" class="asked__btn-icon">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
        ></a>
      </li>
      <li class="asked-item">
        <a class="asked-item__link"
          ><p class="asked-item__text">
            How often do you approve new Rounds of funding?
          </p>
          <svg width="16" height="16" class="asked__btn-icon">
            <use href="/src/images/sprite.svg#icon-asked-plus"></use></svg
        ></a>
      </li>
    </ul>
  </div>
</section>
