<header class="header">
  <div class="container">
    <div class="header-flex">
      <a href="/" class="link"><img src="/src/images/logo.png" alt="logo" /></a>
      <button class="btn button-apply" type="button">Apply</button>
    </div>
    <input class="checkbox" type="checkbox" name="" id="" />
    <div class="hamburger-lines">
      <span class="line line1"></span>
      <span class="line line2"></span>
      <span class="line line3"></span>
    </div>

    <ul class="menu-list list visually-hidden">
      <li class="menu-list__item">
        <a href="#" class="menu-list__item-link link">Discover initiatives</a>
      </li>
      <li class="menu-list__item">
        <a href="#" class="menu-list__item-link link">Funded grants</a>
      </li>
      <li class="menu-list__item">
        <a href="#" class="menu-list__item-link link">Program expenses</a>
      </li>
      <li class="menu-list__item">
        <a href="#" class="menu-list__item-link link">Blog</a>
      </li>
      <li class="menu-list__item">
        <a href="#" class="menu-list__item-link link">FAQ</a>
      </li>
    </ul>
  </div>
</header>
