<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Powering the future of dYdX through community grants
    </h1>
    <img src="/src/images/line.png" alt="line" class="hero-img" />
    <button type="button" class="btn hero-btn">Discover RFPs</button>
    <button type="button" class="btn hero-btn hero-btn__blue">
      Apply for grant<svg width="16" height="16" class="hero__btn-icon">
        <use href="/src/images/sprite.svg#icon-hero-arrow-right"></use>
      </svg>
    </button>
    <ul class="list hero-list">
      <li class="hero-item">
        <p class="hero-item__numb">100+</p>
        <p class="hero-item__desc">projects funded</p>
      </li>
      <li class="hero-item">
        <p class="hero-item__numb">$3+ milion</p>
        <p class="hero-item__desc">awarded</p>
      </li>
      <li class="hero-item">
        <p class="hero-item__numb">400+</p>
        <p class="hero-item__desc">projects funded</p>
      </li>
    </ul>
  </div>
</section>
