<section class="whats-new">
  <div class="container">
    <h2 class="whats-new__title">
      What’s new?<svg width="29" height="28" class="whats-new__title-icon">
        <use href="/src/images/sprite.svg#icon-sparkle"></use>
      </svg>
    </h2>
    <p class="whats-new__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nulla
      risus, consectetur ut bibendum non, gravida non libero.
    </p>
    <a href="/" class="whats-new__link link"
      >Read more on our blog<svg width="16" height="16" class="cta__btn-icon">
        <use href="/src/images/sprite.svg#icon-cta_arrow-right"></use></svg
    ></a>
    <ul class="whats-new__list list">
      <li class="whats-new__item">
        <img
          src="/src/images/whats-new-9.png"
          alt="whats-new"
          class="whats-new__item-img"
        />
        <div class="whats-new__item-container">
          <p class="whats-new__item-predesc">Funding round</p>
          <h3 class="whats-new__item-title">Round 9 of approvals</h3>
          <p class="whats-new__item-date">January 1, 2022</p>
        </div>
      </li>
      <li class="whats-new__item">
        <img
          src="/src/images/whats-new-8.png"
          alt="whats-new"
          class="whats-new__item-img"
        />
        <div class="whats-new__item-container">
          <p class="whats-new__item-predesc">Funding round</p>
          <h3 class="whats-new__item-title">Round 8 of approvals</h3>
          <p class="whats-new__item-date">January 1, 2022</p>
        </div>
      </li>
    </ul>
  </div>
</section>
